@{
    ViewBag.Title = "QualityLog";
}
<script src="/content/hicharts/code/highcharts.js"></script>
<script src="/content/hicharts/code/css/js/modules/exporting.js"></script>
<script src="/content/hicharts/code/lib/canvg.js"></script>
<script src="/content/hicharts/code/css/js/modules/offline-exporting.js"></script>
<script src="/content/hicharts/code/lib/rgbcolor.js"></script>
<style type="text/css">
    .panel-body {
        background-color: #fff !important;
    }
</style>
<div class="easyui-layout" fit="true">
    <div data-options="region:'north'" style="height:110px;padding:5px">
        <div style="background-color:#fff; " id="seachtoolwx">

            <span>检测项目：</span><span data-tag="TestItem"></span>
            <span>试剂批号：</span><span data-tag="BectNO"></span>
            <span>试剂厂家：</span><span data-tag="Factory"></span>
            <span>试剂有效期：</span><span data-tag="OutDate"></span>
            <span>质控品：</span><span data-tag="ZKP"></span>
            <span>质控品单位：</span><span data-tag="ZPKDW"></span>
            <span>质控品批号：</span><span data-tag="ZKPBectNO"></span>
            <span>质控品浓度：</span><span data-tag="ZKPND"></span>

            <br />
            <span>均值x：</span><span data-tag="AVG"></span>
            <span>标准差s：</span><span data-tag="STDEV"></span>
            <span>变异系数cv：</span><span data-tag="CV"></span>
            <span>上告警限+2s：</span><span data-tag="U2S"></span>
            <span>上失控限+3s：</span><span data-tag="U3S"></span>
            <span>下告警限-2s：</span><span data-tag="D2S"></span>
            <span>下失控限-3s：</span><span data-tag="D3S"></span>
            <br />
            <span>统计：</span><span data-tag="Sign"></span>

            <br />
            每页<select id="rows" onchange="initChart()">
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            </select>行
            <a href="#" onclick="pageChange(-1)">上一页</a>
            第<input type="text" value="1" style="width:40px" id="page" />页 
            <a href="#" onclick="pageChange(1)">下一页</a>
    <button class="dm-btn-ck" onclick="QualityRefs()" type="button">更新</button>
              <input type="hidden" id="IfLock" value="" name="IfLock" />
            
    <button class="dm-btn-ck" onclick="DBExport()" type="button">导出</button>
            <button class="dm-btn-ck"  id="ll"></button>
</div>
    </div>
    <div data-options="region:'west'" style="padding:10px;width:600px ">
        <table id="jyjl" fit="true"></table>
    </div>
    <div data-options="region:'center'" style="padding:10px;">
        <div id="container" style="min-width:400px;height:400px"></div>
        <div id="container2" style="min-width:400px;height:400px"></div>
    </div>
</div>
<script>
    var maxPage = 0;
    function init() {



        $.ajax({
            url: "/BloodTestQuality/BectNOQuality_Info",
            data: { BectID: "@ViewBag["BectID"]" },
            type: "post",
            success: function (msg) {
                var jo = eval("(" + msg + ")");
                if (jo.Status == "1") {
                    var Result = jo.Result[0];
                    for (var p in Result) {
                        $("[data-tag='" + p + "']").html(Result[p] + "  ");
                    }
                    
                    $("#IfLock").val(Result.IfLock)
                    if ($("#IfLock").val() == "1") { $("#ll").html('已经锁定') } else {
                        $("#ll").html('未锁定')
                    }
                }
            }
        });

        initChart();
    }


    var chart = null;
    function initChart() {
        $('#jyjl').datagrid({
            url: "/BloodTestQuality/getQualityCal_Log",
            queryParams: { BectID: "@ViewBag["BectID"]", Pages: $("#page").val(), Rows: $("#rows").val() },

            onDblClickRow: function (index, row) { },
            rowStyler: function (index, row) {
                var status = row.Status;
                if (status != undefined) {
                    if (status.indexOf("失控") > -1) { return 'background-color:#f00;'; }
                    if (status.indexOf("告警") > -1) { return 'background-color:#ff0;'; }
                    if (status.indexOf("位移") > -1) { return 'background-color:#f00;'; }
                }
            },
            nowrap: false,//CV	SDI上限	SDI下限	n2s	n3s

            columns: [[

                    { field: 'TestBoard', title: '酶标板号', width: 90, align: "center" },
                     { field: 'TestDoctor', title: '操作者', width: 80, align: "center" },
                    { field: 'OD', title: 'OD', width: 44, align: "center" },
                    { field: 'CO', title: 'Cutoff', width: 44, align: "center", },
                    { field: 'SCO', title: 'S/CO', width: 44, align: "center" },
                     { field: 'Avg', title: '均值X', width: 44, align: "center" },
                    { field: 'U2S', title: '上告警', width: 44, align: "center" },
                    { field: 'U3S', title: '上失控', width: 44, align: "center" },
                    { field: 'D2S', title: '下告警', width: 44, align: "center" },
                    { field: 'D3S', title: '下失控', width: 44, align: "center" },
                    { field: 'Status', title: '状态', width: 44, align: "center" },


            ]],
            onLoadSuccess: function () {
                $(this).datagrid('fixRowHeight')
                //  $(this).datagrid("fixRownumber");
            }
        });

        $.ajax({
            url: "/BloodTestQuality/getChartDataList",
            data: { BectID: "@ViewBag["BectID"]", page: $("#page").val(), rows: $("#rows").val() },
            type: "post",
            success: function (msg) {
                var jo = eval("(" + msg + ")");
                if (jo.Status == "1") {
                    var Result = jo.Result;//质控的原始数据
                    var BoardNOList = jo.BoardNOList;
                    maxPage = jo.maxPage;
                    var charts = Highcharts.chart('container', {
                        charts: {
                            type: 'line'
                        },
                        title: {
                            text: '质控图'
                        },
                        subtitle: {
                            //text: '数据来源: WorldClimate.com'
                        },
                        xAxis: {
                            categories: BoardNOList
                        },
                        yAxis: {
                            title: {
                                text: 'S/CO'
                            }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    // 开启数据标签
                                    enabled: false
                                },
                                // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                                enableMouseTracking: true
                            }
                        },
                        exporting: {
                            enabled: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: Result
                    }, function(c){              // 回调函数，传递图表对象
                        chart = c;
                    });
                }
            }
        });
    }
    ///导出
    function DBExport()
    {
       // DatagridExport("jyjl", "A2", "检验管理-质量控制-质控图.xls");
        var chart = $('#container').highcharts();//获取Highcharts对象
        var svgData = chart.getSVG();//svg数据
        var columns = $("#jyjl").datagrid("options").columns;
        var bb = getFields(columns);
        //alert(columns);
        var cols = "";
        for (var i = 0; i < bb.length; i++) {
            if (cols == "") {
                cols = bb[i].field;
            }
            else {
                cols = cols + "," + bb[i].field;
            }
        }
        var data = $("#jyjl").datagrid("getData").rows;//原始数据
        $.ajax({
            url: "/BloodTestQuality/DataGrigExport",
            data: { BectID: "@ViewBag["BectID"]", DataJson: JSON.stringify(data), SVNData: svgData,cols:cols, OutPlace: "A02", TmpName: "检验管理-质量控制-质控图.xls" },
            type: "post",
            success: function (msg) {
                var jo = eval("(" + msg + ")");
                if (jo.Status == "1") {
                    location.href = jo.URL;
                }
                else {
                    layer.alert(jo.Sign);
                }
            }
        });

    }
    function QualityRefs()
    {
       // if ($("#IfLock").val() == "1") { layer.alert("已锁定!请解锁."); } else {
            loading();
            $.ajax({
                url: "/BloodTestQuality/Check_QualityCal",
                data: { BectID: "@ViewBag["BectID"]" },
                type: "post",
                success: function (msg) {

                    var jo = eval("(" + msg + ")");
                    var Status = jo.Status;
                    var Sign = jo.Sign;
                    if (Status == "1") {
                        layer.alert("更新完成.");
                        init();
                      
                    }
                    else {
                        layer.alert(Sign);
                    }
                    closeloading();
                     
                },
                error: function (msg) {
                    closeloading();
                    layer.alert("服务器错误：" + msg);
                }
            })
       // }
    }
    function pageChange(a)
    {
        //alert(maxPage);
        if (parseInt($("#page").val())>1 ||a>0)
        {

            if (maxPage>parseInt( $("#page").val()) || a<0)
            {
                $("#page").val(parseInt( $("#page").val()) + a);
                initChart();
            }
        }
    }

    init();
</script>
